<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="inicio.component.css">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <div class="container">
        <div class="cards d-flex justify-content-between align-items-center">
            <h1 class="mb-2 " style="margin-left: 2rem;">Hola sebas</h1>
            <i class="bi bi-box-arrow-left icon"></i>
        </div>
    </div>

    <div class="d-flex flex-row justify-content-center" style="padding: 1.5rem;">

        <div class="card m-2">
            <div class="card " style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-info">Clientes</h5>
                    <p class="card-text">250</p>
                    <div class="d-flex justify-content-between">
                        <p class="card-text text-success">50 activos</p>
                        <p class="card-text text-danger">85 Inactivos</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="card m-2">
            <div class="card mx-auto" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title text-purple">Estrenos</h5>
                    <p class="card-text">20</p>
                    <div class="d-flex justify-content-between">
                        <p class="card-text text-success">50 activos</p>
                        <p class="card-text text-danger">85 Inactivos</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card m-2">
            <div class="card" style="width: 18rem; height: 11rem;">
                <div class="card-body">
                    <h5 class="card-title text-warning">Peliculas</h5>
                    <p class="card-text">900</p>
                </div>
            </div>
        </div>

        <div class="card m-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <p class="card-text">40</p>
                    <div class="d-flex justify-content-between">
                        <p class="card-text text-success">50 activos</p>
                        <p class="card-text text-danger">85 Inactivos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-purple">
        <div class="container text-center text-light" style="padding:  25px;">
            <h2 style="margin-bottom: 35px; border-bottom: 1px solid white; padding-bottom: 10px;">
                Ranking de Negocio <i class="bi bi-three-dots-vertical mr-2"></i></h2>

            <div class="d-flex align-items-center justify-content-center">
                <h3 style="margin-bottom: 15px;">Cine DayJob</h3>
                <div class="progress text " style="height: 10px; width: 10%; margin: 45px; margin-top: 3ch;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 10%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <h3 style="margin-bottom: 15px;">Cine Canfeliz</h3>
                <div class="progress text " style="height: 10px; width: 10%; margin: 45px; margin-top: 3ch;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 10%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <h3 style="margin-bottom: 15px;">Cine Fenix</h3>
                <div class="progress text " style="height: 10px; width: 10%; margin: 45px; margin-top: 3ch;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 10%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="d-flex align-items-center justify-content-center">
                <h3 style="margin-bottom: 15px;">Cine El Gato</h3>
                <div class="progress text " style="height: 10px; width: 10%; margin: 45px; margin-top: 3ch;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 10%;" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>